/* <----------------Cart Page Start------------->  */
#cartPageContainer {
  background-color: whitesmoke;
  width: 400px;
  height: 100%;
  overflow-x: scroll;
  position:fixed;    
  right: 0;
  top: 1px;
  z-index: 5;
  transform: translateX(400px);
}
/* #cartPageContainer::-webkit-scrollbar {
  visibility: hidden;
} */
#cartPageContainer img:hover {
  box-shadow: none;
}
#cartPageContainer div {
  border-radius: 2px;
}
#cartPageContainer i {
  margin: 0;
}
#cartPageHeading {
  box-sizing: border-box;
  background-color: white;
  /* border: solid black; */
  display: flex;
  width: 100%;
  height: 6%;
  position: fixed;
  top: 0px;
  align-items: center;
  /* justify-content: space-around; */
}
#cartPageHeading > :nth-child(1) {
  font-size: 30px;
  margin-left: 8px;
  color: #fc2779;
  margin-right: 100px;
}
#cartPage {
  box-sizing: border-box;
  /* border: solid black; */
  width: 98%;
  height: 81vh;
  overflow-y: scroll;
  margin-top: 13%;
  margin-bottom: 40px;
  padding-left: 10px;
}
.cartPageProductContainer {
  /* border: solid black; */
  margin-bottom: 20px;
  background-color: white;
  box-sizing: border-box;
  padding: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.imgDiv {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  border-bottom: solid 0.1px #3f414d;
}
.imgDiv > :nth-child(1) {
  width: 30%;
  height: 100px;
}
.imgDiv > :nth-child(2) {
  width: 55%;
  /* border: solid red; */
  font-size: 14px;
  color: #3f414d;
}
.imgDiv > :nth-child(3) {
  width: 5%;
}
.qtyDiv {
  display: flex;
  justify-content: space-between;
}
/* .qtyDiv > :nth-child(1) {
} */
.qtyDiv > :nth-child(2) {
  color: #3f414d;
  display: flex;
}
.qtyDiv > :nth-child(2) > :nth-child(1) {
  margin-right: 5px;
  font-size: 12px;
  line-height: 20px;
}
.qtyDiv > :nth-child(2) > :nth-child(2) {
  font-size: 14px;
}
.qtyDiv > :nth-child(2) > :last-child {
  color: black;
}
#proceedContainer {
  position: fixed;
  bottom: 5px;
  width: 99%;
  height: 8%;
  display: flex;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#proceedContainer > :nth-child(1) {
  /* border: solid red; */
  width: 50%;
}
#proceedContainer > :nth-child(2) {
  background-color: #fc2779;
  color: white;
  text-align: center;
  line-height: 60px;
  width: 50%;
}

#paymentDetailsContainer {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 30px;
}
#paymentDetailsContainer > :nth-child(1) {
  background-color: #f5f5f5;
  height: 40px;
  text-align: center;
  line-height: 40px;
}
#paymentDetailsContainer > :nth-child(2) {
  background-color: white;
  box-sizing: border-box;
  padding: 10px 20px 30px 20px;
  font-size: 14px;
}
#paymentDetailsContainer > :nth-child(2) > :nth-child(1) {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #3f414d;
}
#paymentDetailsContainer > :nth-child(2) > :nth-child(2) {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: green;
}
#paymentDetailsContainer > :nth-child(2) > :nth-child(3) {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #3f414d;
}
#paymentDetailsContainer > :nth-child(2) > :nth-child(4) {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #3f414d;
}
#paymentDetailsContainer > :nth-child(2) > :nth-child(5) {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: black;
}
#paymentDetailsContainer > :nth-child(2) > :nth-child(6) {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  height: 40px;
  line-height: 40px;
  box-sizing: border-box;
  padding: 0px 10px;
  background-color: #f5f5f5;
}
#paymentDetailsContainer > :nth-child(2) > :nth-child(6) > :nth-child(1) {
  color: #3f414d;
}
#paymentDetailsContainer > :nth-child(2) > :nth-child(6) > :nth-child(2) {
  color: #fc2779;
}
#cartPageGrandTotal {
  box-sizing: border-box;
  padding: 5px 0px 0px 10px;
}
#cartPageGrandTotal > :nth-child(1) {
  font-size: 12px;
  color: #3f414d;
}
#cartPageGrandTotal > :nth-child(2) {
  color: #fc2779;
}

/* <----------------Cart Page End------------->  */